{% extends 'base.html' %}

{% block content %}
<h2>{% if category %}Редактировать категорию{% else %}Добавить категорию{% endif %}</h2>
<a href="{% url 'references:reference_home' %}" class="btn btn-outline-secondary">← Назад к справочникам</a>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="mb-3">
        {{ form.type.label_tag }}
        {{ form.type }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'references:category_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}